* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.main-container {
    z-index: -2;
    background: -webkit-linear-gradient(90deg, #262629, #e64747, #b3967e);
    background: linear-gradient(90deg, #3e3e42, #b14646, #7a6453);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}




/* Верстка всплывающего окна */
/* Верстка всплывающего окна */
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

/* .popup.open.close {
    opacity: 0;
    visibility: hidden;
} */

.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup-log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    height: 30%;
    width: 30%;
    /* border: #e64747 2px solid; */
    border-radius: 30px;
}

.field-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.popup-button {
    cursor: pointer;
    height: 35px;
    width: 100px;
    border-radius: 10px;
}

.info-person {
    height: 40px;
    width: 250px;
    border-radius: 10px;
}

.info-person:hover,
.popup-button:hover {
    border: #e64747 4px solid;
}

/* 
.info-person:focus,
.popup-button:focus {
    border: #e64747 solid 4px;
} */


/* Верстка основного контента ========================================*/
/* Верстка основного контента ========================================*/
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Верстка навигационного меню======================================= */

.logo-pizza {
    height: 10rem;
    padding: 20px;
}

.logo {
    display: flex;
    margin-left: 10px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    background: #c52e2e;
    height: 43rem;
    border-radius: 70px;
}

.main-nav,
.footer-nav,
.nav-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 18px;
    color: white;
}

.nav-btn {
    transition: all 0.5s ease;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.6) 100px;
    color: #1a1a3b;
    border-radius: 50%;
    box-sizing: border-box;
    font-style: 30px;
    padding: 10px;
    transition: all 0.5s ease;
}

.fa-solid {
    font-size: x-large;
}


/* Стили основной части контента. Блок где можно заказать еду=========================== */
/* Стили основной части контента. Блок где можно заказать еду=========================== */

/* Поиск по сайту */
.main-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    height: 38rem;
    width: 56rem;
    border-radius: 15px 0 0 15px;
}

.search {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 4rem;
    width: 51rem;
}

.search-type {
    border-style: none;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 2.5rem;
    width: 12rem;
}

/* Блок по центру, с акцией и категориями продуктов */
/* Блок по центру, с акцией и категориями продуктов */
.midle-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Акция и доставка =====================*/
.prize {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 160, 77);
    width: 30rem;
    border-radius: 20px;
}

.prize-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    height: 12rem;
    width: 20rem;
}

.delivery-bike {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bike {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    height: 9rem;
}

.prize-btn {
    border-style: none;
    background: #ca1a1a;
    color: white;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.5s ease;
}

.prize-btn:hover {
    color: black;
    background: white;
    transition: all 0.5s ease;
}

/* Разные категории блюд и напитков ========================= */

.pizza {
    grid-area: pizza;
}

.burger {
    grid-area: burger;
}

.snack {
    grid-area: snack;
}

.drink {
    grid-area: drink;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 5rem;
    width: 5rem;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.choice:hover {
    background: #c52e2e;
    box-shadow: 0px -4px 10px rgba(243, 19, 19, 0.3), 0 10px 10px rgba(253, 14, 14, 0.3);
    color: white;
    transition: all 0.5s ease;
}

.logo-choice {
    height: 50px;
}

.category {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
        "pizza . burger"
        "snack .  drink";
    margin-left: 100px;
    padding: 10px;
}

/* Выбор блюд в выбранной категории =================================*/
/* Выбор блюд в выбранной категории =================================*/

/* Стилизация скрола для выбора меню */
.menu::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #d5d5d5;
    width: 5px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #cf3838;
    border-radius: 10px;
}

/* ----------------------------------- */

.menu {
    display: flex;
    justify-content: center;
    height: 20rem;
    max-width: 50rem;
    border-radius: 10px;
    overflow-y: scroll;
}

/* Кнопка добавить в корзину. Она саздается innerHTML JS */
.btn-add,
.btn-info {
    background: #ffffff;
    color: rgb(0, 0, 0);
    height: 2rem;
    width: 4rem;
    border-radius: 20px;
    border-style: none;
    border: 1px black solid;
    cursor: pointer;
    margin: 15px 5px 0px 5px;
}


/* Стили для меню в разделе "пицца", классы создаю через JavaScript innerHTML */
.block-pizza,
.block-burger,
.block-snack,
.block-drink {
    display: flex;
    flex-direction: column;
}

.img-pizza {
    height: 11rem;
}

.img-burger {
    height: 9rem;
}

.img-drink {
    height: 6rem;
}

.img-snack {
    height: 6rem;
}

.box-pizza,
.box-burger,
.box-snack,
.box-drink {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    width: 200px;
    height: 280px;
    background: rgb(255, 255, 255);
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.box-pizza:hover,
.box-burger:hover,
.box-snack:hover,
.box-drink:hover {
    background: #c52e2e;
    box-shadow: 0px -4px 10px rgba(243, 19, 19, 0.3), 0 10px 10px rgba(253, 14, 14, 0.3);
    transition: all 0.5s ease;
}

/* Начинка для пиццы. Блок создан с помощью JavaScript innerHTML*/
.box-filling-pizza {
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    width: 200px;
    height: 280px;
    background: rgb(255, 255, 255);
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}


/* Линия разделитель между заказом и основным контентом */
/* Линия разделитель между заказом и основным контентом */

.line-delimiter {
    height: 38rem;
    width: 2px;
    background: #afafaf;
}

/* Блок с заказом ================================================= */
/* Блок с заказом ================================================= */


.order-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 38rem;
    width: 20rem;
    border-radius: 0 15px 15px 0;
    background: white;
}

/* Информация о человеку, логотип человека */
.display-name {
    margin: 10px;
}

.person {
    display: flex;
    align-items: center;
    width: 15rem;
}

.person-photo {
    padding: 10px;
    height: 5rem;
    background-color: #d5d5d5;
    border-radius: 50%;
}

/* Стилизация пунтков заказа */

/* Адресс доставки  */

.adress {
    display: flex;
    justify-content: space-between;
}

.add-adress {
    border-style: none;
    background: none;
    cursor: pointer;
    color: #ca1a1a;
    font-weight: bolder;
}

.submit {
    background: #c52e2e;
    border-style: none;
    color: white;
    width: 8rem;
    height: 2rem;
    border-radius: 30px;
}

.submit:hover {
    color: black;
    background: white;
    transition: all 0.5s ease;
    cursor: pointer;
    border: 1px solid #262629;
}